<H1>Edit Event</H1>
<div class="rounded" style="background-color: white; margin: 20px; padding: 20px">
  <form novalidate [formGroup]="myForm">


    <div class="form-group">
      <label for="inputEventName">Enter Event Name</label>
      <input type="eventName" class="form-control" id="inputEventName"
             placeholder="Enter Event Name" name="eventName"
             formControlName="eventName">
    </div>

    <div class="form-group">
      <label for="inputCitye">Enter City</label>
      <input type="eventCity" class="form-control" id="inputCitye"
             placeholder="Enter City" name="eventCity"
             formControlName="eventCity">
    </div>


    <div class="form-group">
      <label for="inputCapacity">Capacity</label>
      <input type="eventMaxCapacity" class="form-control"
             formControlName="eventMaxCapacity"
             id="inputCapacity" placeholder="eventMaxCapacity" name="eventMaxCapacity">
    </div>

    <div class="form-group">
      <label for="eventDate">Enter Event Date</label>
      <input type="date" class="form-control"
             formControlName="eventDate"
             id="eventDate" placeholder="Enter your phone number" name="eventDate">
    </div>



    <button type="submit" class="btn btn-outline-success"
            (click)="onSubmit()" style="margin-right: 5px">Submit</button>

    <button type="submit" class="btn btn-outline-danger" style="margin-right: 5px"
            (click)="deleteEvent()">Delete</button>

    <button type="submit" class="btn btn-outline-dark"
            routerLink="/my-event" style="margin-right: 5px">Back </button>
  </form>
</div>
