body {
  margin: 0;
  font-family: sans-serif;
}
.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: #41230e; /* ADD THIS LINE */
}
.hero h1 {
  /* Text styles */
  font-size: 5em;

  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}
.hero .btn {
  /* Positioning and sizing */
  display: block;
  width: 200px;

  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  /* Text styles */
  color: #f7fffc;
  text-decoration: none;
  font-size: 1.5em;

  /* Border styles */
  border: 3px solid #fbf9ff;
  border-radius: 20px;

  /* Background styles */
  background-color: rgba(219, 39, 45, 0.8);
}
