<div class="row">
  <div  class="col-md-6">
    <h2> Enable User List </h2>
    <ul *ngFor="let user of user$"class="list-group-item" (click)="getUser(user)">
      <li>
        {{user.userName}}<button (click)="EnableUser(user)" class="btn btn-outline-danger" style="float: right">Disable</button>
    </ul>
  </div>

  <div  class="col-md-6">
    <h2> Not Enable User List </h2>
    <ul *ngFor="let user of users"class="list-group-item" (click)="getUser(user)">
      <li>
        {{user.userName}}
        <button (click)="getUsersNotEnable(user)" class="btn btn-outline-primary" style="float: right">Enable</button>

    </ul>
  </div>

  <div class="col-md-6">
    <app-user-detail [user]="currentUser"></app-user-detail>
  </div>




</div>
